@model WebDemo.Models.HomeModel
@{ 
    var TotalElement = Model.LstChildCategoriesItem.Count;

}

<div class="main-navigate">
    <ul>
        <li class="list1">
            <a href="#">
                <img src="~/images/new.png" class="icon" width="30" height="30" />
                <span>Khuyến Mại Mới</span>
            </a>
        </li>
        @foreach (var item in Model.LstCatergoriesItem)
        {

        <li class="list2 dropdown-navigate">
                <a href="@Url.Action("Index", "Product")">
                    <img src="@item.PriCategoriesImages" class="icon" width="30" height="30" />
                    <span>
                        @item.PriCategoriesName
                    </span>
                </a>
            <div class="dropdown-navigate-content">
               <div class="row" style="margin-left:15px;">

                  @foreach(var ItemRelaPriSubCate in Model.LstRelaPriSubCategory) {

                      if(item.PriCategoriesID == ItemRelaPriSubCate.PriCategoriesID) {
                          foreach (var SubItem in Model.LstSubCategoriesItem){
                              if(SubItem.SubCategoriesID == ItemRelaPriSubCate.SubCategoriesID) { 
                                  <div class="col-4">
                                    <div class="block-content">
                                        <a href="#" style="font-size:15px;font-weight:bold">@SubItem.SubCateGoriesName</a>                     
                                        @foreach (var ItemRelaChildSub in Model.LstRelaChildSubCategory)
                                        {
                                            if (ItemRelaChildSub.SubCategoriesID == SubItem.SubCategoriesID)
                                            {
                                                foreach (var itemChild in Model.LstChildCategoriesItem.Take(6).Where(x=> x.ChildCategoriesID == ItemRelaChildSub.ChildCategoriesID))
                                                {
                                                    if (itemChild.ChildCategoriesID == ItemRelaChildSub.ChildCategoriesID )
                                                    {
                                                        <a href="#">@itemChild.ChildCategoriesName</a>                                                           
                                                    }
                                                }
                                            }
                                        }
                                        <a href="#" style="color:red;">Xem tất cả </a>
                                    </div>
                                 </div>
                              }
                          }
                      }
                  }
                  
                </div>
                
       
            </div>
              

        </li>
        }

    </ul>
</div>

