@model WebDemo.Models.HomeModel

@{ 
//var TotalElement = Model.LstChildCategoriesItem.Count;

}

<div class="main-navigate">
    <ul>
        <li class="list1">
            <a href="#">
                <img src="images/new.png" class="icon" width="30" height="30" />
                <span>Khuyến Mại Mới</span>
            </a>
        </li>
        
        @foreach (var itemPriCate in Model.LstCategories.Where(c => c.CategoriesParentID == 0))
        {
           
            <li class="list2 dropdown-navigate">
                <a href="@Url.Action("Index","Product1")">
                    <img src="@itemPriCate.CategoriesImages" class="icon" width="30" height="30" />
                    <span>
                        @itemPriCate.CategoriesName
                    </span>
                </a>
                <div class="dropdown-navigate-content">
                    <div class="row" style="margin-left:15px;">
                        @foreach (var itemSubCate in Model.LstCategories.Where(c=>c.CategoriesParentID==itemPriCate.ID))
                        {
                            
                                <div class="col-4 col-m-12">
                                    <div class="block-content">
                                        <a href="#" style="font-size:15px;font-weight:bold">@itemSubCate.CategoriesName </a>
                                        @foreach (var itemChilCate in Model.LstCategories.Where(c=>c.CategoriesParentID==itemSubCate.ID).Take(6))
                                        {
                                                <a href="#">@itemChilCate.CategoriesName</a>
                                           

                                        }
                                       
                                        <a href="#" style="color:red">Xem tất cả<span class="right-caret right"></span></a>
                                    </div>
                                </div>                         

                        }                       
                        
                    </div>                 


                </div>

            </li>
        }
        
        
    </ul>
</div>

