<!DOCTYPE html>
<html>
<head>
   @RenderPage("Meta.cshtml")
</head>
<body>
          @RenderPage("Header.cshtml") 
          @RenderPage("LogoSearchCart.cshtml")
          @RenderBody()
          @RenderPage("Footer.cshtml")
    <script src="~/Scripts/jquery-2.1.1.js"></script>
    <script src="~/Content/rating/jquery.min.js"></script>
    <script src="~/Content/rating/jquery.rateyo.js"></script>
        <script src="~/Scripts/bootstrap.min.js"></script>
          <script src="~/Scripts/main.js"></script>
        <script src="~/Scripts/jquery.menu-aim.js"></script>

</body>
</html>